//sideBar 的深蓝色
$dackBlue:#30384d;
//header部分active蓝色
$blue:#33ccff;
$blueToDock:#5ea5f5;
$activeBlue:#1f2636;
$green:#a6d44c;
$orange:#ffbf00;
$purple:#b587fa;
$jacinth:#fd7816;
$lightGreen:#abec57;
$yellow:#ffcc66;


$lightBlue:#33ccff;
$exactGreen:#00cc99;
$exactBlue:#3399ff;

$red:#ff3333;
$lightPurple:#cc99fe;

$exactBlueHover:#348ce3;
$blueHover:#38b8e4;
$exactGreenHover:#2ab289;
$redHover:#e33135;

$newGreen:#99cc33;//订单记录新加状态色