@import  "../../../assets/style/setscss";
section{
    width:1200px;
    margin:120px auto;
    background:#fff;
    .title{
        height:60px;
        line-height: 60px;
        border-bottom:1px solid #ddd;
        padding:0 35px;
    }
    .filtrate-box{
        height:86px;
        padding-left:170px;
        line-height:86px;
        overflow:hidden;
        .k-widget{
            height:40px;
            background:#fff;
            border-radius:4px;
            .k-dropdown-wrap{
                height:38px;
                background:#fff;
                border-color:#ddd;
                span{
                    line-height:36px;
                }
            }
            input{
                height:33px;
            }
            .k-select{
                line-height:38px;
            }
            .k-picker-wrap{
                border-color: #ddd;
            }
        }
        .line{
            display:inline-block;
            width:18px;
            height:2px;
            background:#ddd;
            position: relative;
            top: -2px;
            margin:0 10px;
        }
        .time{
            margin-left: 66px;
        }
        .searchBox{
            margin: 23px 30px 0 0;
            line-height: 40px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            border-radius: 4px;
            overflow: hidden;
            input{
                height:38px;
                width:218px;
                border:0;
            }
            i{
                float: right;
                height: 40px;
                line-height: 37px;
                font-size: 24px;
                width: 40px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
    .grid-box{
        padding:0 30px 40px;
        .k-grid-content{
            overflow: hidden;
        }
        .k-grid-header{
            padding:0 !important;
        }
        th.k-header{
            border-width:0;
            background:#ddd;
            line-height:40px;
            color:#333;
            .k-link{
                height:40px;
                line-height:40px;
                color:#333;
            }
            &:first-child{
                padding-left:70px;
            }
        }
        td{
            border:0;
            height:48px;
            border-bottom: 1px solid #ddd;
        }
        tr{
            td:first-child{
                padding-left:70px;
            }
        }
    }
}
article{
    padding:30px;
    .content-title{
        text-align: center;
        font-size: 20px;
        height:50px;
        span{
            color:#777;
            font-size:14px;
            margin-top: 10px;
        }
    }
    p{
        text-indent: 28px;
        line-height:30px;
    }
    img{
        width:100%;
    }
}
.slideBar{
    background:#eee;
}