<div class="content-box">
    <div class="pageTitle">
        <i class="iconfont icon-fuhe"></i>基础负荷预测
    </div>
    <div class="content ma-t20">
        <div class="content-title">
            <span class="title" name="2">基础负荷预测列表</span>
            <div class="title-r float-r ma-r20">
                <div class="searchBox float-r ma-r10 ma-t10">
                    <input id="SearchVal" type="text" placeholder="搜索任务名称">
                    <i id="iSearch" class="iconfont icon-sousuo"></i>
                </div>
                <a class="a-button ma-r10">新增任务</a>
            </div>
        </div>
        <div class="grid-box"><div id="grid"></div></div>
    </div>
</div>
<div id="dialog"></div>