<div class="content">
	<div class="content-title title-tag">
		<span class="title" name="2">{{isNew?'资质上传':'资质编辑'}}</span>
	</div>
	<div class="content">
		<div class="note">说明：各类证照请上传原件扫描件。要求为jpg、png或gif格式，单张图片小于2M。</div>
		<div class="c-box">
			<div id="aptitudeBox">
				<div>
					<p>企业代码</p>
					<input type="text" class="k-textbox" [(ngModel)]="postData.enterpriseCode">
				</div>
			    <div class="aptitude" *ngFor="let item of postData.aptitudeImformatiuonList let i = index">
				    <div class="ma-t20">
						<p>资质信息{{i+1}}</p>
						<input type="text" class="k-textbox" name="AptitudeTitle" [(ngModel)]="item.aptitudeTitle">
					</div>
					<div class="demo-section k-content wide">
				        <div class="wrapper">
				            <div id="picThree">
				            	<div class='product' *ngFor="let image of item.imageDataList let i = index">
				            		<img [src]="image.data" alt="image preview"/>
				            		<i class='iconfont icon-guanbipsd del' (click)="deleteImg(item.fileDataId[i])"></i>
				            	</div>
				            </div>
				         </div>
		            	 <kendo-upload
				         	[autoUpload]="false"
						    (select)="selectEventHandler($event,item)"
						    [restrictions]="myRestrictions"
						    >
						  </kendo-upload>
				    </div>
				</div>
			</div>
			<div class="btn-box">
		    	<button class="a-button-xian a-button-xian-grey" style="width: 100%;" (click)="addNewAptitude()">继续添加资质信息</button>
		    </div>
		    <div class="btn-box">
		    	<button class="a-button" style="width: 100%;" (click)="onsubmit()">保存</button>
		    </div>
		</div>
	</div>
</div>
<kendo-dialog title="购买成功" *ngIf="opened" (close)="close()" class="new-dialog">
    <div class="text-center dialog-box">
        <img src="assets/images/pic-okla.png">
        <div style="line-height:24px;margin-top:20px;">
            保存成功！
        </div>
    </div>
    <kendo-dialog-actions class="button-center">
        <a class="a-button" [routerLink]="['/client/shanxi/detail/client',pageId]">确定</a>
    </kendo-dialog-actions>
</kendo-dialog>