<div class="content ma-t20">
	<div class="content-title">
		<span class="title" name="2">证照详情</span>
	</div>
	<div class="cpd-c-box">
		<div>
			<span>法人代码：</span>
			<span class="color-6">{{licenseData.legalCode}}</span>
			<div class="bigImg">
				<span class="img-box" *ngFor="let imageList of legalCodeInformation.imageDataList let i = index">
					<img [src]="imageList.data" alt="">
					<i class="iconfont icon-sousuo" (click)="setPic(legalCodeInformation.imageDataList,i)"></i>
				</span>
			</div>
		</div>
		<div>
			<span>营业执照：</span>
			<span class="color-6">{{licenseData.businessCode}}</span>
			<div class="bigImg">
				<span class="img-box" *ngFor="let imageList of businessCodeInformation.imageDataList let i = index">
					<img [src]="imageList.data" alt="">
					<i class="iconfont icon-sousuo" (click)="setPic(businessCodeInformation.imageDataList,i)"></i>
				</span>
			</div>
		</div>
		<div>
			<span>组织机构代码证：</span>
			<span class="color-6">{{licenseData.orgCode}}</span>
			<div class="bigImg">
				<span class="img-box" *ngFor="let imageList of orgCodeInformation.imageDataList let i = index">
					<img [src]="imageList.data" alt="">
					<i class="iconfont icon-sousuo" (click)="setPic(orgCodeInformation.imageDataList,i)"></i>
				</span>
			</div>
		</div>
		<div>
			<span>税务登记证：</span>
			<span class="color-6">{{licenseData.taxCode}}</span>
			<div class="bigImg">
				<span class="img-box" *ngFor="let imageList of taxCodeInformation.imageDataList let i = index">
					<img [src]="imageList.data" alt="">
					<i class="iconfont icon-sousuo" (click)="setPic(taxCodeInformation.imageDataList,i)"></i>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="popup-cart center" *ngIf="popShow" (click)="hidePop($event)" id="pop">
	<div style="width: 600px">
		<shuffling [shufflingPic]='shufflingPic'></shuffling>
	</div>
</div>